{% extends 'pers_assist_app/base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aidly</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pers_assist_app/news.css' %}">
{% endblock %}

<body>
{% block content %}
    <div class="item-type">
        <div class="item-on-page-block">
            <div class="exchange-block">
                <div class="block-title">
                    <i>Exchanges Rates:</i>
                </div>
                <div class="main-info">
                    <p><i>Date:</i> {{ data.Date }}</p>
                    <p><i>Bank:</i> {{ data.Bank }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Currency:</th>
                                <th>Sale:</th>
                                <th>Purchase:</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rate in data.Exchange_rate %}
                            <tr>
                                <td>{{ rate.currency }}</td>
                                <td>{{ rate.sale }}</td>
                                <td>{{ rate.purchase }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="news-block">
                {% for news in data.News %}
                    <div class="new">
                        <a href="{{ news.link_to_source }}" class="block-title">
                            <i>{{ news.title }}</i>
                        </a>
                        <div class="new-main-block">
                            <div class="new-details">
                                <p>Source: {{ news.source }}</p>
                                <p>Author: {{ news.author }}</p>
                                <p>Published: {{ news.publishedAt }}</p>
                            </div>
                            <p>
                                {{ news.description }}
                            </p>
                            <a href="{{ news.link_to_source }}" class="read-more">Read more...</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
</body>

