<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Address Book</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<main class="container">

    <div style="display: flex; align-items: center; gap: 0.5rem; margin-bottom: 1rem;">
        <a href="{% url 'pers_assist_app:main' %}" role="button" class="secondary" style="flex-shrink: 0; width: 130px;">Main menu</a>

        <form method="get" action="{% url 'pers_assist_app:search_contacts' %}" style="display: flex; gap: 0.5rem; align-items: center; flex: 1;">
            <input type="search" name="search_item" placeholder="Search contacts..." value="{{ request.GET.search_item }}" style="flex: 1; min-width: 150px;">
            <button type="submit" class="button" style="width: 120px;">Search</button>
            <a href="{% url 'pers_assist_app:search_contacts' %}" role="button" class="secondary" style="width: 100px;">Show all</a>
        </form>
    </div>

    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
            <li><a href="{% url 'pers_assist_app:contact_create' %}" role="button">Add contact</a></li>
        </ul>

        <form method="get" action="{% url 'pers_assist_app:search_birthdays' %}" style="display: flex; gap: 0.5rem; align-items: center; margin-top: 15px">
            <label for="days_ahead" style="margin-right: 5px; width: 200px;"><b>Search for contacts in the range of their b-days:</b></label>
            <input type="number" name="days_ahead" id="days_ahead" value="{{ request.GET.days_ahead|default:7 }}" style="width: 100px;">
            <button type="submit" class="secondary" style="width: 200px;">Search Birthdays</button>
        </form>
    </nav>

    {% for contact in contacts %}
    <ul>
        <li>
            <a href="{% url 'pers_assist_app:contact_detail' contact.id %}" role="button" class="outline">{{ contact.name }} {% if contact.surname %}{{ contact.surname }}{% endif %}</a>
            <a href="{% url 'pers_assist_app:contact_edit' contact.id %}" role="button" class="secondary"> Edit contact </a>
            <a href="{% url 'pers_assist_app:contact_delete' contact.id %}" role="button" class="contrast"> Delete contact </a>
        </li>
    </ul>
    {% endfor %}

</main>
</body>
</html>
