{% extends 'pers_assist_app/base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aidly | Contact {{ contact.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pers_assist_app/notes.css' %}">
    <link rel="stylesheet" href="{% static 'pers_assist_app/forms_style.css' %}">
{% endblock %}

<body>
{% block content %}
    <div class="detail-block">
        <h1>
            {{ contact.name }}{% if contact.surname %} {{ contact.surname }}{% endif %}
        </h1>

        {% if contact.address %}
        <div>
            <h3><strong>Address:</strong></h3><kbd>{{ contact.address }}</kbd>
        </div>
        {% endif %}

        {% if contact.phone %}
        <div>
            <h3><strong>Phone:</strong></h3><kbd>{{ contact.phone }}</kbd>
        </div>
        {% endif %}

        {% if contact.email %}
        <div>
            <h3><strong>Email:</strong></h3><kbd>{{ contact.email }}</kbd>
        </div>
        {% endif %}

        {% if contact.birthday %}
        <div>
            <h3><strong>Birthday:</strong></h3><kbd>{{ contact.birthday }}</kbd>
        </div>
        {% endif %}

        {% if contact.description %}
        <div>
            <h3><strong>Description:</strong></h3><kbd>{{ contact.description }}</kbd>
        </div>
        {% endif %}
    </div>
{% endblock %}
</body>
