{% extends 'pers_assist_app/base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aidly | Create Contact</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pers_assist_app/create_forms_style.css' %}">
    <link rel="stylesheet" href="{% static 'pers_assist_app/notes.css' %}">
{% endblock %}

<body>
{% block content %}
    <div class="main-container">
        <div class="form">
            <form action="{% url 'pers_assist_app:contact_create' %}" method="POST" >
                {% csrf_token %}
                <label>Contact name</label>
                {{ form.name }}

                <label>Contact surname</label>
                {{ form.surname }}

                <label>Contact address</label>
                {{ form.address }}

                <label>Contact phone</label>
                {{ form.phone }}

                <label>Contact email</label>
                {{ form.email }}

                <label>Contact birthday</label>
                {{ form.birthday }}

                <label>Contact description</label>
                {{ form.description }}

                <div>
                    {{ form.errors }}
                </div>

                <button class="reg-button" type="submit">Create!</button>
            </form>
        </div>
    </div>
{% endblock %}
</body>