{% extends "pers_assist_app/base.html" %}

{% block content %}

<form method="POST" action="{% url 'pers_assist_app:contact' %}">
    {% csrf_token %}

    <div style="padding: 10px">
        <label>Enter the contact name:
            {{ form.name }}
        </label>
        <span>{{ form.errors.name }}</span>
    </div>

    <div style="padding: 10px">
        <label>Enter the contact address:
            {{ form.address }}
        </label>
        <span>{{ form.errors.address }}</span>
    </div>

    <div style="padding: 10px">
        <label>Enter the contact phone:
            {{ form.phone }}
        </label>
        <span>{{ form.errors.phone }}</span>
    </div>

    <div style="padding: 10px">
        <label>Enter the contact email:
            {{ form.email }}
        </label>
        <span>{{ form.errors.email }}</span>
    </div>

        <div style="padding: 10px">
        <label>Enter the contact birthday:
            {{ form.birthday }}
        </label>
        <span>{{ form.errors.birthday }}</span>
    </div>

    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>

{% endblock %}
