{% extends 'pers_assist_app/base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aidly | Notes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pers_assist_app/notes.css' %}">
    <link rel="stylesheet" href="{% static 'pers_assist_app/forms_style.css' %}">
{% endblock %}

<body>
{% block content %}
    <div class="section-title">
        <h5>Notes</h5>
    </div>

    <div class="all-items">
        <!-- ITEM TYPE 1 -->
        <div class="item-type">
            <a href="{% url 'pers_assist_app:contacts' %}" class="arrow-button-left"><img src="{% static 'pers_assist_app/images/icons8-back-30-white.png' %}"></a>

            <div class="item-on-page-block">


                <div class="item-photo">
                    <h1>Search notes</h1>
                    <form class="form" method="GET" action="{% url 'pers_assist_app:notes_by_query' %}">

                        <div class="form-inner-block">
                                <label>Enter note title or text</label>
                            <div class="search-row">
                                <input class="input" type="text"  name="q" placeholder="Query">
                                <a href="{% url 'pers_assist_app:notes' %}" class="show-all-button">☓</a>
                            </div>
                            <button class="submit-button" type="submit">Search</button>
                        </div>
                    </form>

                    <form class="form" action="POST">
                        {% csrf_token %}
                        <div class="form-inner-block">
                            <label>By Tag...</label>
                            <div class="search-tag-list">
                                <a class="tag" href="{% url 'pers_assist_app:notes' %}">☓</a>
                            {% for tag in tags %}
                                <a class="tag" href="{% url 'pers_assist_app:notes_by_tag' tag.slug %}">{{ tag.tag_name }}</a>
                            {% endfor %}
                            </div>
                        </div>
                    </form>

                    <a class="new-note" href="{% url 'pers_assist_app:note_create' %}">Add new note</a>
                </div>


                <div class="item-info">
                    <div class="inner">
                        <h1>My Notes</h1>
                        <div class="contact-list">
                            {% for note in notes %}
                                <div class="note {{note.color}}-note">
                                    <div class="note-details">
                                        <h3>{{note.title}}</h3>
                                        <p>{{note.text}}</p>
                                    </div>
                                    <div  class="note-buttons">
                                        <div class="note-actions">
                                            <a class="tag-actions-button" href="{% url 'pers_assist_app:note_edit' note.id %}"><?xml version="1.0" ?><?xml version="1.0" ?><svg fill="none" height="16" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M13.0207 5.82839L15.8491 2.99996L20.7988 7.94971L17.9704 10.7781M13.0207 5.82839L3.41405 15.435C3.22652 15.6225 3.12116 15.8769 3.12116 16.1421V20.6776H7.65669C7.92191 20.6776 8.17626 20.5723 8.3638 20.3847L17.9704 10.7781M13.0207 5.82839L17.9704 10.7781" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg></a>
                                            <form method="POST" action="{% url 'pers_assist_app:note_delete' note.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="tag-actions-button"><?xml version="1.0" ?><svg fill="none" height="16" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M19 11V20.4C19 20.7314 18.7314 21 18.4 21H5.6C5.26863 21 5 20.7314 5 20.4V11" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 17V11" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 17V11" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M21 7L16 7M3 7L8 7M8 7V3.6C8 3.26863 8.26863 3 8.6 3L15.4 3C15.7314 3 16 3.26863 16 3.6V7M8 7L16 7" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
                                            </form>
                                        </div>
                                        <div class="tags">
                                            {% for tag in note.tags.all %}
                                                <a class="tag" href="{% url 'pers_assist_app:notes_by_tag' tag.slug %}">{{ tag.tag_name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

            <a href="{% url 'pers_assist_app:contacts' %}" class="arrow-button-left"><img src="{% static 'pers_assist_app/images/icons8-forward-30-white.png' %}"></a>
        </div>
    </div>
{% endblock %}
</body>
</html>