<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Assistant | Create Tag</title>
    <link rel="icon" href="images/kof_logo.ico" type="image/x-icon">

    {% block extra_css %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'pers_assist_app/create_forms_style.css' %}">
    {% endblock %}
</head>

<body>
    <style>
            
    </style>

    <header>
        <div class="logo-container">
            <img src="images/kof_logo.png" onclick='location.href="main.html"'>
        </div>
        <div class="cart-container">
            <a href="cart.html"><img src="images/cart.png"></a>
        </div>
    </header>

    <div class="main-container">
        <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
                <label>Tag name</label>
                {{ form.tag_name }}

                <div>
                    {{ form.errors }}
                </div>

                <button class="reg-button" type="submit">Create!</button>
            </form>
        </div>
    </div>
</body>
</html>