{% extends 'pers_assist_app/base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aidly | Create Tag</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pers_assist_app/create_forms_style.css' %}">
    <link rel="stylesheet" href="{% static 'pers_assist_app/notes.css' %}">
{% endblock %}

<body>
{% block content %}
    <div class="main-container">
        <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
                <label>Tag name</label>
                {{ form.tag_name }}

                <div>
                    {{ form.errors }}
                </div>

                <button class="reg-button" type="submit">Create!</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}