*{
    font-family:  Comic Sans MS, sans-serif;

    box-sizing: border-box;
    font-weight: 100;
    margin: 0;
    padding: 0;

}

div a {
    text-decoration: none;
}

body {
    background-image: url('../pers_assist_app/images/clen-16-2.png');
    background-repeat: repeat;
    background-size: 20%;

    display: flex;

    animation: moveBackground 150s linear infinite;


    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1000px 1000px;
    }
}

header {
    margin-bottom: 50px;

    display: flex;
    justify-content: space-between; /* Распределяем элементы по краям */
    align-items: center; /* Выравниваем элементы по вертикали */
    padding: 10px;

    width: 100%;

    height: 75px;
    position: sticky;
    top: 0;

    z-index: 1;

    background-color: rgb(255, 255, 255);
    box-shadow: -3px 6px 24px -9px rgba(0,0,0,0.2);
    -webkit-box-shadow: -3px 6px 24px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: -3px 6px 24px -9px rgba(0,0,0,0.2);
}

.logo-container {
    flex-grow: 1; /* 1; Разрешаем логотипу занимать доступное пространство */
    display: flex;
    align-items: center;
    justify-content: center; /* Выравниваем логотип по центру */
    height: 80px;

    position: absolute; /* Абсолютное позиционирование */
    left: 50%; /* Смещаем логотип на 50% от левого края */
    transform: translateX(-50%);
}
.logo-container img{
    height: 90px;
    transition: transform 500ms
}
.logo-container img:hover{
    transform: scale(1.05);
}


.cart-container {
    margin-left: 0px; /* Перемещаем корзину вправо */
}

.cart-container img {
    height: 50px; /* Установите нужную высоту для изображений */
    width: 50px;

    transition: transform 500ms
}
.cart-container img:hover {
    transform: scale(1.05);
}

.kyky {
    color: rgb(173, 84, 111);
    font-weight: bold;
}
.kyky a {
    color: rgb(173, 84, 111);
    text-decoration: underline rgb(173, 84, 111);

    transition: text-shadow 200ms linear;
}
.kyky a:hover {
    text-shadow: 0px 0px 5px rgba(173, 84, 111, 0.5);
}




.main-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    border-radius: 25px;

    box-shadow: -3px 6px 24px -9px rgba(0,0,0,0.2);
    -webkit-box-shadow: -3px 6px 24px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: -3px 6px 24px -9px rgba(0,0,0,0.2);

}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
}
.form-inner-block{
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.input {
height: 35px;
width: 100%;

/* margin: 15px 0px; */

border-radius: 10px;
border: 1px solid rgb(100, 100, 100);

padding-left: 10px;

transition: box-shadow 200ms linear, border 200ms linear;
}
.input::placeholder{
font-size: 12px;
}



.input:focus {
height: 35px;
border-radius: 10px;
border: 1px solid rgb(194,104,131);
outline: none;

box-shadow: 0px 2px 10px -2px rgba(194,104,131,0.5);
-webkit-box-shadow: 0px 2px 10px -2px rgba(194,104,131,0.5);
-moz-box-shadow: 0px 2px 10px -2px rgba(194,104,131,0.5);
}

.form form label {
color: rgb(100, 100, 100) ;
font-size: 12px;
position: relative;
bottom: -12.5px;

padding-left: 2px;
padding-right: 2px;

background-color: white;
}

.my-select {
    font-size: 13px;
    color: rgb(100, 100, 100) ;
}

.my-select option {
margin-top: 5px;
margin-bottom: 5px;
margin-right: 35px;
margin-left: 35px;

height: 35px;
width: 100%;

border-radius: 10px;
border: 1px solid rgb(100, 100, 100);

padding-left: 10px;

transition: box-shadow 200ms linear, border 200ms linear;
}

.submit-button {
color: white;
font-size: 14px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-around;
width: 100%;
height: 35px;
background-color: rgb(173, 84, 111);

border: none;

transition: background-color 500ms, color 500ms, box-shadow 500ms, transform 500ms;
}
.submit-button:hover {
color: white;
font-size: 14px;
background-color: rgb(219, 130, 157);
cursor: pointer;
box-shadow: 0px 4px 28px -4px rgba(194,104,131,1);
-webkit-box-shadow: 0px 4px 28px -4px rgba(194,104,131,1);
-moz-box-shadow: 0px 4px 28px -4px rgba(194,104,131,1);

transform: scale(1.005);
}

.search-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.show-all-button {
    color: rgb(173, 84, 111);
    font-size: 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 35px;
    height: 35px;
    border: 1px solid rgb(173, 84, 111);
    background-color: white;

    transition: background-color 500ms, color 500ms, box-shadow 500ms, transform 500ms;
}
.show-all-button:hover {
    color: white;
    border: 1px solid rgb(173, 84, 111);
    background-color: rgb(173, 84, 111);
}


.item-desc p{
    color: rgb(79, 79, 79);
}

.order-item {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.order-item img{
    height: 200px;
    margin-right: 35px;
}

.search-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}